.tooltip {
  width: 420px;
  position: fixed;
  background: var(--ps-tooltip-bg);
  box-shadow: 1px 2px 4px 0px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  color: var(--ps-tooltip-text);
  font-size: 12px;
  visibility: hidden;
  z-index: 2;

  &.flamegraphDiffTooltip {
    width: 450px;
  }

  .tooltipName {
    color: var(--ps-tooltip-text);
    background-color: var(--ps-tooltip-header-bg);
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 8px 10px;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  }

  .functionName {
    padding: 8px 10px 0;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;

    white-space: break-spaces;
    word-break: break-all;
  }

  .tooltipTable {
    width: calc(100% - 10px * 2);
    margin: 10px;
    display: table; /* although this is the default, users may have an overwrite */
    background: var(--ps-tooltip-bg);

    th,
    td {
      border: 1px solid var(--ps-tooltip-header-bg);
      padding: 5px;
      font-weight: normal;
    }
  }

  .clickInfo {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    color: var(--ps-right-click-info);

    svg {
      color: initial;
      display: block;
      align-self: center;
      width: 22px;
      height: 22px;
      margin-right: 5px;
    }

    span {
      font-size: 14px;
    }
  }
}

.showcase {
  //goodColor
  background: rgb(0, 170, 0);
  //neutralColor
  background: rgb(148, 142, 142);
  //badColor
  background: rgb(200, 0, 0);

  // possible colors
  background: rgb(24, 69, 60);
  background: hsl(24, 69%, 60%);
  background: hsl(34, 65%, 65%);
  background: hsl(194, 52%, 61%);
  background: hsl(163, 45%, 55%);
  background: hsl(211, 48%, 60%);
  background: hsl(246, 40%, 65%);
  background: hsl(305, 63%, 79%);
  background: hsl(47, 100%, 73%);
  background: rgb(183, 219, 171);
  background: rgb(244, 213, 152);
  background: rgb(78, 146, 249);
  background: rgb(249, 186, 143);
  background: rgb(242, 145, 145);
  background: rgb(130, 181, 216);
  background: rgb(229, 168, 226);
  background: rgb(174, 162, 224);
  background: rgb(154, 196, 138);
  background: rgb(242, 201, 109);
  background: rgb(101, 197, 219);
  background: rgb(249, 147, 78);
  background: rgb(234, 100, 96);
  background: rgb(81, 149, 206);
  background: rgb(214, 131, 206);
  background: rgb(128, 110, 183);
}